# Binaries and object files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Generated certificates
*.pem

# Upload and download directories
uploads/
downloads/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db